extends ../template/navbar1




block content

        
    section.hero-image1
            .boxcontain
                h1.title <strong><font size='7' color="white"><center>PoweRent</strong></font>
                h3.subtitle <center><font size = '5' color="white">Search Talk Rent!</font>
                h3.title.is-1 <center><font size = '4'color="white">Powering up businesses on just letting your equipments rented.</font>
            br
            .columns
                .column.is-3
                .column.is-6
                        .column.is-5
                        .box
                            form(method="POST" action="/signup")
                                .field
                                    .field-label
                                        label.label Sign Up

                                .field.is-horizontal
                                    .field-label.is-normal
                                        label.label Name
                                    .field-body
                                        .field
                                            p.control.is-expanded
                                                input.input.is-primary(type="text" name="name" placeholder="Name")

                                .field.is-horizontal
                                    .field-label
                                        label.label Username
                                    .field-body
                                        .field
                                            p.control.is-expanded
                                                input.input.is-primary(type="text" name="uname" placeholder="Username")
                                .field.is-horizontal
                                    .field-label
                                        label.label Contact No
                                    .field-body
                                        .field
                                            p.control.is-expanded
                                                input.input.is-primary(type="text" name="contactno" placeholder="ex. 09123456789")
                                .field.is-horizontal
                                    .field-label
                                        label.label Birth Date
                                    .field-body
                                        .field
                                            p.control.is-expanded
                                                input.input.is-primary(type="date" name="bdate" placeholder="Birth Date")
                                .field.is-horizontal
                                    .field-label.is-normal
                                        label.label Password
                                    .field-body
                                        .field
                                            p.control.is-expanded
                                                input.input.is-primary(type="password" name="password" placeholder="Password")
                                .fields
                                        input.button.is-info.is-pulled-right.is-bold(type="submit" value="Sign up")
                                
                                .field.is-horizontal
                                        .field-label.is-normal
                                                label.label
                                        .field-body
                                .field
                                        a(href='/login') <i><font size="3"><center>Have an account? <strong>Log in</strong></i></font>
