extends ../template/master.pug

block content
                section.hero.is-primary.is-bold.is-fullheight        
                        .main
                                strong(style="color: blue")= `Welcome ${online}`
                                                .columns.is-multiline.is-gap

                                                        .column                
                                                                .box
                                                                        
