extends ../template/navbar.pug

block content
    section.hero.is-primary.is-light.is-fullheight
            .container
                .main
                    h1.title <strong><font size='7'><center>PoweRent</strong></font>
                    h3.subtitle <center><font size = '5'>Search Talk Rent!</font>
                    h3.title.is-1 <center><font size = '4'>Powering up businesses on just letting your equipments rented.</font>
                    .column    
                        .box                    
                            figure.image
                                img(src="../../Capture.PNG")