extends ../template/master.pug

block content
    section.hero.is-primary.is-bold.is-fullheight
        .main
            h1.title 
                font(size="7") No Items Available
            .column
                a.button.is-primary.is-bold.is-pulled-left(href="/item/add") Add item