extends ../template/master.pug

block content
                section.hero.is-primary.is-bold.is-fullheight        
                        .main
                                h1.title <font size='7'> My Rented Items </font>
                                .container
                                        .box
                                                .field