extends ../template/master.pug

block content
    section.hero-item
            .boxcontain
                h1.title 
                    font(size="7" color="white") All Renting Items
                    hr
                    .column
                    .columns.is-multiline
                        each item in items
                                .column.is-3
                                    a(href=`/renting?id=${item.items_rented_id}`)
                                        .box
                                            .field(style="color: black") 
                                                <center>
                                                    strong= item.item_name   
                                                .field
                                                    hr
                                                    h1name= item.user_fullname
                                                    