extends ../template/master.pug

block content
    //- SO BALI GANTO YAN ETO UNG SAMPLE NG MESSAGE NATIN GANYAN DAPAT ITSURA SO KAYA NYO NA YAN :D HAHAHHAHA LOL MATATAPOS NA NATIN TO BUKAS/MAMAYA  
    section.hero-item
        .boxcontain
            h1.title 
                font(size="7" color="white") MESSAGES
            .box
                <div class="container"> 
                    </span>
                    <div class="panel-body">
                        <ul class="chat">
                            <li class="left clearfix">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">YOU</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span></small>
                                    </div>
                                    <p> kyah kyah Pa-rent
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span></small>
                                    </div>
                                    <p> Sige lang kyah 
                                    </p>
                                </div>
                            <li class="left clearfix">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">YOU</strong> <small class="pull-right text-muted">
                                           </span></small>
                                    </div>
                                    <p> kyah kyah Pa-rent
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span></small>
                                    </div>
                                    <p> Hello
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">YOU</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span></small>
                                    </div>
                                    <p> 1 Calculator kyah 
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            .field.is-horizontal
                                textarea.input.is-primary(type="text" placeholder="Type your message" name="msgs")
                                input.button.is-primary.is-pulled-right.is-bold(type="submit" value="Add")
                            </span>
                        </div>
                    </div>
                </div>