html
    head
        
        title PoweRent!
        link(rel="stylesheet" href="/bulma/bulma.css")
        link(rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/bulma/fontssss.css")
        link(rel="stylesheet" href="/bulma/modal.css")
        link(rel="stylesheet" href="/bulma/blue-notification.css")
        link(rel="stylesheet" href="/bulma/banner1.css")
        link(rel="stylesheet" href="/bulma/chat.css")
        link(rel="stylesheet" href="/bulma/msgs.css")
        link(rel='icon', type='image/png', href='/assets/logo.ico')
        
    block body
