extends ./base

block body
    .navbar
        div.navbar-brand
            a.navbar-item(href="/login")
                <font color="white">        
                    powerent PoweRent
                    </font>
        
        div.navbar-menu
            div.navbar-start
                


            div.navbar-end

    block content